@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

:root {
    --primary-color: #fffcf2;
    --secondary-color: #ccc5b9;
    --text-color: #403d39;
    --highlight: #eb5e28;
}

a {
    text-decoration: none!important;
    color: var(--text-color)
}

a:hover {
    color: var(--highlight)
}

body {
    font-family: 'Hina Mincho', serif; 
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.info {
    overflow: hidden;
}

.card {
    background-color: var(--primary-color);
}

.entry {
    font-size: larger;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.card-footer {
    text-align: end;
}

@media (min-width: 768px){
    body {
        overflow: hidden;
    }

    .content {
        height: 100vh;
        overflow-y:scroll;
    }
}